doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title CounterStrat
		meta(name="description", content="Easy and simple ways to get into competitive CounterStrike")
		meta(name="author", content="Henry Wu, Dulce Rios")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="stylesheets/css/jquery-ui.min.css")
		link(rel="stylesheet", href="stylesheets/css/style.css")
		link(rel="icon", type="image/png", href="images/favicon.png")
	body
		.row
			.seven.columns#left
				nav
					a.button.button-primary#create Add
					a.button#save Save
					select#select-map
						option(value="dust2") Dust 2
						option(value="mirage") Mirage
						option(value="cache") Cache
						option(value="cobble") Cobblestone	
						option(value="inferno") Inferno	
						option(value="train") Train
						option(value="overpass") Overpass	
						option(value="dust2c") Dust 2 Callouts
			.five.columns#right
				image(class="map" src="images/dust2.jpg")
		script(src="https://rawgit.com/guosim/CounterStrat/gh-pages/js/jquery-2.2.1.min.js")
		script(src="https://rawgit.com/guosim/CounterStrat/gh-pages/js/jquery-ui.min.js")
		script(src="https://rawgit.com/guosim/CounterStrat/gh-pages/js/functions.js")
