doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title CounterStrat
		meta(name="description", content="Easy and simple ways to get into competitive CounterStrike")
		meta(name="author", content="Henry Wu, Dulce Rios")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="stylesheets/css/style.css")
		link(rel="icon", type="image/png", href="images/favicon.png")
	body
		.row
			.five.columns
				nav
					a.button.button-primary New Strategy
					select
						option(value="") Your Strategies
					select
						option(value="dust2") Dust 2
						option(value="mirage") Mirage
						option(value="cache") Cache
				.tree.u-cf
					.root
						textarea
						span.fa-stack.new-node
							i.fa.fa-circle.fa-stack-2x
							i.fa.fa-plus.fa-stack-1x.fa-inverse


			.seven.columns.u-full-width
					image(class="map" src="images/dust2.jpg")
		script(src="/js/jquery-2.2.1.min.js")
		script(src="/js/functions.js")
