body
	background-color: white
	overflow: hidden
	height: 100%

nav
	margin: 50px 0 50px 80px
	select
		margin-left: 20px
		width: 150px

.tree
	.root
		position: relative
		margin-left: 230px
		textarea
			width: 200px
			height: 100px
			white-space: normal
			text-align: justify
			-moz-text-align-last: center
			text-align-last: center

		.new-node
			padding: 0 10px
			position: absolute
			bottom: 25px
			right: 6px
			color: #d3d3d3
			&:hover
				color: #33c3f0

.map
	position: absolute
	right: 0
	height: 94%
	width: auto