body
	background-color: white
	overflow: hidden

header
	height: 50px
	margin: 0 0 70px 0
	.logo
		height: 38px
		width: 50px
		float: left
		margin: 30px 0 0 30px

	nav
		margin: 30px 30px 0 0
		float: left
		a
			color: rgba(0,0,0,.7)
			display: inline-block
			margin-left: 20px
			font:
				weight: 700
				size: 16px
			text-transform: uppercase
			&:link
				text-decoration: none
			&:hover
				color: rgba(0,0,0,1)

canvas
	#map
		width: 500px
		height: 500px
		background-color: grey

